* {
  padding: 0;

  margin: 0;
  box-sizing: border-box;
}

p {
  size: 100px;

  margin: 20px;
}

.gudeline-body h1,
h2 {
  padding-top: 40px;

  text-align: center;

  margin: 10px;
}

.gudeline-body .main-menu2 {
  display: flex;

  justify-content: center;

  margin: 100px;
}

.game-body {
  display: flex;

  justify-content: center;

  align-items: center;

  min-height: 100vh;

  /* background-color: rgb(151, 106, 202); */
}

.container {
  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  flex-direction: column;

  gap: 30px;

  background-color: #696969;

  padding: 50px 50px;

  height: 750px;

  width: 750px;
}

.reset {
  padding: 10px 15px;

  color: blue;

  background-color: white;

  cursor: pointer;

  display: flex;
}

.cards {
  display: flex;

  align-content: space-between;

  justify-content: center;

  flex-wrap: wrap;

  gap: 20px;

  width: 500px;

  height: 700px;

  background-color: #333;

  padding: 30px 30px 30px 30px;
}

.card {
  background-color: blue;

  text-align: center;

  font-size: 100px;

  display: flex;

  flex-wrap: wrap;

  position: relative;

  height: 100px;

  width: 100px;

  transition: transform 3s ease-in-out;
}

.card-front,
.card-back {
  position: absolute;

  width: 100%;

  height: 100%;

  backface-visibility: hidden;

  transition: transform 0.5s ease-in-out;
}

.card-front {
  transform: rotateY(0deg);

  color: white;

  background-color: blue;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 20px;
}

.card-back {
  transform: rotateY(180deg);

  color: black;

  background-color: yellow;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 20px;
}

.card.flipped .card-front {
  transform: rotateY(180deg);
}

.card.flipped .card-back {
  transform: rotateY(0deg);
}

.card.matched {
  pointer-events: none; /* Disable clicks on matched cards */
}

.win-screen {
  display: none; /* Initially hidden */

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);

  display: flex;

  justify-content: center;

  align-items: center;
}

.win-screen.active {
  display: flex;
}

.container.disabled {
  pointer-events: none; /* Disable clicks on the container */
}

.guidline-div {
  background-color: antiquewhite;

  margin: 20px;

  border: 1px solid rgb(7, 7, 7);
}

header {
  margin: 100px;

  text-align: center;
}

.main-page-buttons {
  margin: 10px;

  display: flex;

  justify-content: center;

  gap: 40px;
}

li {
  text-align: left;

  margin-left: 20px;
}

.message {
  font-size: 30px;

  color: black;
}

.buttons {
  display: flex;

  align-items: center;

  justify-content: space-between;

  padding-bottom: 50px;
  gap: 15px;
}

.menuOfLevel2 {
  padding: 10px 15px;

  color: blue;

  background-color: white;

  cursor: pointer;

  display: flex;
}

.timer {
  background-color: antiquewhite;
}

.card.disabled {
  pointer-events: none;
}
